.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url("https://images3.alphacoders.com/130/1303834.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  margin-top: 60px;
  padding: 20px;
  text-align: center;
  background-color: transparent; /* Establece el fondo transparente */
}

